@import url(reset.css);

@keyframes rotate {
	0% {
		background-position: 50px 50px;
	}
	12.5% {
		background-position: 175px 0px;
	}
	25% {
		background-position: 310px 50px;
	}
	37.5% {
		background-position: 350px 175px;
	}
	50% {
		background-position: 310px 310px;
	}
	62.5% {
		background-position: 175px 350px;
	}
	75% {
		background-position: 50px 310px;
	}
	87.5% {
		background-position: 0px 175px;
	}
	100% {
		background-position: 50px 50px;
	}
}
.page {
	width: 100vw;
	height: 100vh;
	background-image: url('http://pa7lux.ru/mcs/space_pattern.jpg');
	display: flex;
	position: relative;
}
.sun {
	width: 300px;
	height: 300px;
	background-image: url('http://pa7lux.ru/mcs/sun.png');
	background-size: cover;
	background-position: center;
	margin: auto;
}
.earth {
	width: 400px;
	height: 400px;
	background-image: url('http://pa7lux.ru/mcs/earth.png');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: 40px 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	overflow: visible;
	animation: rotate 7s infinite linear;
}