@import url(reset.css);
body {
	font-family: 'Helvetica', sans-serif;
	height: 100%
}
.page-wrapper {
	width: 1440px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding-bottom: 205px;
}
.header, .footer, .links-container {
	background: #E5E000;
	color: #fff;
}
.header {
	padding: 80px;
}
.links-container {
	padding: 40px 80px;
}

.header__title {
	font-size: 50px;
	line-height: 40px;
}

.image {
	height: 1080px;
	width: 100%;
	background: url('../img/img.png');
}

.nav-list {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	color: #fff;
}
.nav-list .nav-list__item {
	font-size: 25px;
}
.nav-list .nav-list__item:after {
	display: inline-block;
	content: "/";
	margin: 0 10px;
}
.nav-list .nav-list__item:last-child:after {
	display: none;
}
.nav-list a.nav-list__link {
	text-decoration: none;
	color: #fff;
}

.main-text-container {
	padding: 110px 80px;
}
.main-text {
	font-size: 50px;
	margin: 0 0 50px;
	font-weight: bold;
}
.main-text:last-child {
	margin: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 80px 0;
}
.footer__logo {
	margin: 0 80px;
	width: 205px;
	height: 45px;
	background: url('../img/footer-logo.png');
	background-size: cover;
}